<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <title>{% block title %}Blog Pra'tik{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <ul class="nav nav-tabs">
            <li><a href="{{ path('blogpratik_homepage') }}">Accueil</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('blogpratik_add') }}">Ajouter un post</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
            <li><a href="{{ path('blogpratik_login') }}">Connexion</a></li>
            {% endif %}
          </ul>
        {% block body %}{% endblock %}
       
        {% block javascripts %}{% endblock %}
    </body>
</html>
