{% extends 'BlogBundle::layout.html.twig' %}

{% block title %} {{ parent () }} - Accueil {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Bienvenue sur BLOG PRA'TIK le blog de foufou !</h1>
        <div class="list-group">
                {% for post in posts %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading"><a href="{{ path('blogpratik_postpage', { 'postId': post.id }) }}">{{ post.titre }}</a> by {{ post.author }}</h4>
                        <p class="list-group-item-text">Date de publication : {{ post.published|date('d/m/Y h:i:s') }}</p>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
