{% extends 'BlogBundle::layout.html.twig' %}

{% block title %} {{ parent () }} - Post {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ post.titre }} <small>[{{ post.urlAlias }}]</small></h1>
        <div class="nav-tabs">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and isAuthor == true %}
            <a href="{{ path('blogpratik_update', { 'id': post.id }) }}"><span class="glyphicon glyphicon-edit" style="color:gray" aria-hidden="true"></span></a>
            <a href="{{ path('blogpratik_delete', { 'id': post.id }) }}"><span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span></a>
            {% endif %}
          </div>
        <p class="text-right"><em>{{ post.author }}</em></p>
        <p class="text-right"><em>{{ post.published|date('d/m/Y h:i:s') }}</em></p>
        <p class="text-left panel">
            {{ post.content }}
        </p>
    </div>
{% endblock %}
